{% extends 'base.html.twig' %}

{% block title %}Modifier un métier{% endblock %}

{% block body %}
    <h1>Modifier un métier</h1>

    {{ include('profession/_form.html.twig', {'button_label': 'Mettre à jour et sauvegarder'}) }}

    <a href="{{ path('profession_index') }}" style="padding-left: 12px">Retour à la liste</a>

    {{ include('profession/_delete_form.html.twig') }}
{% endblock %}
