{% extends 'base.html.twig' %}

{% block title %}Modifier le salon{% endblock %}

{% block body %}
    <h1>Modifier le salon</h1>

    {{ include('lobby/_form.html.twig', {'button_label': 'Mettre à jour et sauvegarder'}) }}

    <a href="{{ path('lobby_index') }}" style="padding-left: 12px">Retour liste salon</a>

    {{ include('lobby/_delete_form.html.twig') }}
{% endblock %}
