{% extends 'base.html.twig' %}

{% block title %}Créer un salon{% endblock %}

{% block body %}
    <h1>Créer un nouveau salon</h1>

    {{ include('lobby/_form.html.twig') }}

    <a href="{{ path('lobby_index') }}" style="padding-left: 12px;">Retour liste salons</a>
{% endblock %}
