{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<section>
    <section class="container">
        <p>Bienvenue sur Guinot TP<br>
    </section>
</section>
{% endblock %}
{% block javascripts %}
{% endblock %}