{% extends "base.html.twig" %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}
    
<div class="container">

        {% if success is defined %}
        <p class="msgSuccess">Vous êtes connecté   <i class="fas fa-check"></i></p>
        {% elseif errorPassword is defined %}
            <p class="msgError">erreur de mot de passe   <i class="fas fa-check"></i></p>
        {% else %}
        <form class="form-group col-12 col-lg-4" action="{{ path('login') }} " method="POST">
            <fieldset>
                <label for="email">email</label>
                <input class="form-control fas fa-sign-in-alt" type="text" name="email" placeholder="email">
                {% if errors.email is defined %}
                <p class="msgError"><i class="fas fa-exclamation-circle"></i> Email invalide</p>
                {% endif %}
                <label for="password">password</label>
                <input class="form-control" type="password" name="password" placeholder="password">
                {% if errors.password is defined %}
                <p class="msgError"><i class="fas fa-exclamation-circle"></i> Mot de passe invalide</p>
                {% endif %}
                {% if errors.login is defined %}
                <p class="msgError"><i class="fas fa-exclamation-circle"></i> Confirmation invalide</p>
                {% endif %}
            </fieldset>
            <input class="btn btn-primary col-12 col-lg-4 mt-3" type="submit" value="valider">
        </form>
        {% endif %}
</div>
{% endblock  %}