{% extends "base.html.twig" %}
{% block body %}

<div class="container">
    <h1>Mes salons</h1>
    <ul>
        {% for lobby in myLobbies %}
        <li>
            {{ lobby.name }} {{ lobby.city }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}