{% extends "base.html.twig" %}

{% block title %}tchate{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-10 message" id="messageDisplay">
            <p>salut !</p>
            <p>ce tchat est super cool !</p>
            <p>il ressemble au tchat NRJ des année 2000 quand meme...</p>
        </div>
        <div class="col-10" id="messageInput">
            <div class="wrap">
                <form action="#" method="POST">
                    <input type="hidden" name="id" value="{{ id }}"
                    <textarea class="col-md-9" maxlength="2000" name="message" id=""></textarea>
                    <i class="col-1 fas fa-paperclip"></i>
                    <button class="submit col-1">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../public/js/ajaxMessage.js"></script>
    
{% endblock %}