{% extends "base.html.twig" %}

{% block title %}Page Introuvable{% endblock %}

{% block body %}
    <div class="contain my-4">
        <div class="row mx-1 my-2 p-4">
            <h1 class="col-12 alert alert-danger text-center mb-4">ERREUR 403 !</h1>
            <h2 class="text-center col-6 offset-3"> Accès à la page web refusé</h2>
            <a class="col-12 mt-4 btn btn-success text-white" href="{{ path('index') }}">Cliquez ici pour
                revenir à la page d'acceuil</a>
        </div>
    </div>
{% endblock %}
           